################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarcusFelling.pipelinedecorator-0.0.2.vsix
/MarcusFelling-Blog.pipelinedecorator-0.0.3.vsix
/.vs
*.vsix
